table {
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
    border: none;
    font: var(--p);
}
table, th, td {
    border: hidden;
    border-collapse:collapse;
}

table thead {
    border: none;
    padding: 1rem;
    color: var(--p3);
    background: var(--bg2);
}

table th,
table td {
    height: auto;
    padding: 1rem 1rem;
}
table h4 {
    margin: 0;
}


table tbody {
    border: none;
    padding: 1rem;
    color: var(--p1);
    background: var(--bg3);
}

.page-header {
    margin-bottom: 6rem;
}