
.user-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.user-form .field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-form .field .field-imgContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.user-form .field .field-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.user-form .controls {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.errors {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--rounded-lg);
    background: var(--p1);
}

.error {
    font: var(--p);
    color: var(--g3);
}




/* ----------------- Page Article ----------------- */

.head-bg {
    position:relative;
    width: 100%;
    /* height: 846px; */
    background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)) /*url(https://www.francetvinfo.fr/pictures/y7EaVw9xAB21V6QiVl3zmxXz6HQ/752x423/2019/04/12/selor7.png)*/;
    background-size:cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.img-bg{
    z-index: 0;
    position:absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter:brightness(40%) /*contrast(60%);*/
}

.head-h1 {
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top:5%;
    margin-bottom:0%;
    width: 80%;
}

.head-h2 {
    z-index: 1;
    /* display: flex;
    align-items: center;
    text-align: center; */
    width: 70%;
    margin-top: 2%;
    margin-bottom:0%;

}

.head-h4 {
    z-index: 1;
    text-align: left;
    width: 63%;
    margin-top: 5%;
    margin-bottom:5%;

}

.discover {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg2);
    color: white;
}

.discover-title {
    width: 60%;
}

span.orange {
    color: var(--g4);
}
span.purple {
    color: var(--g6)
}
span.green {
    color: var(--g5)
}
span.bleu {
    color: var(--g2)
}
.p3 {
    color: var(--p3)
}
.yellow {
 color: var(--i)
}

.artist-box {
    width: 100%;
    display: flex;
}

.artist-text {
    width: 50%;
    margin-top: 100px;
}

.artist-title {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.corps{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.oeuvre{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.oeuvre-title {
    display: flex;
    width: 80%;
    Margin-top: 100px;
}

.oeuvre-text {
    display: block;
    flex-direction: row;
    Margin-top: 30px;
    width: 100%;
    columns: 2 auto;
    gap: 4rem;
    margin-bottom: 5%;
}

.expo{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 360px;
    align-items: center;
    gap: 2rem;
    margin-top: 60px;
}

.expo-title{
    width: 40%;
}

.expo-text{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.conclusion {
    display: block;
    flex-direction: row;
    margin-top: 60px;
    columns: 2;
    gap: 4rem;
}

.articles-end {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.article-like {
    gap: 2.5rem;
    cursor: pointer;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
}
.article-like:hover .article-like-count {
    color: var(--i);
}
.article-like:hover .a-icon {
    transform: scale(1.3) rotate(-10deg);
}
.article-like:active .a-icon {
    transform: scale(1.15) rotate(-10deg);
}

.a-icon {
    height: 7.5rem;
    width: 8rem;
    transition: transform .15s;
}
.a-icon img{
    margin-left: auto;
    display: block;
    max-height: 100%;
    width: auto;
}

.likes > svg {
    margin-left: 10px;
    margin-top: -5px;
}



.box-btn {
    display: flex;
    justify-content: flex-end;
}

.btn-comments {
    width: 230px;
    margin-right: 8.7%;
    margin-top: 20px;
    height: 60px;
    border-radius: 15px;
    background-color: var(--i);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg1)
}


/* ----------------- Page Home ----------------- */

.home-title {
    display: flex;
    justify-content: center;
}

.primary {
    margin-top: 120px;
    margin-bottom: 40px;
}

.secondary {
    margin-bottom: 160px;
}

.home-articles {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
.home-article{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 2rem;
}

.home-article:nth-child(2n){
    flex-flow: row-reverse nowrap;
}


.home-article-img {
    width: 40%;
    height: auto;
}

.home-article-img > img {
    width: 100%;
    height: auto;
    border: 5px solid white;
    border-radius: 15px;
}

.home-article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    gap: 1rem;
}


.home-article-title {
    /* margin-top: 0; */
}


.home-article-p {
    /* height: 52%; */
    max-width: 100%;
}
.home-article-link {
    align-self: flex-end;
    margin-right: 1rem;
}

.page-change {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.error-icon {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 85%;
}


/* ----------------------------------- FIN MAIN -----------------------------------*/


/* BB code */
.bb-element-bold {
    font-weight: bold;
}
/* end BB code */


/* Comments */

.comments-container {
    margin-left: 8.3%;
    margin-right: 8.3%;
    margin-top: 100px;
}
.comments {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.comment {
    --topbar-height: 1.5rem;
    position: relative;
    display: flex;  
    flex-direction: column;
    width: 100%;
    background-color: var(--bg2);
    border-radius: 15px;
    padding: calc(1rem + var(--topbar-height) ) 2rem 1.5rem 2rem;
    overflow: hidden;
}


.comment::before {
    top: 0;
    left: 0;
    position: absolute;
    content: ' ';
    display: block;
    height: var(--topbar-height);
    width: 100%;
    background-color: var(--g2);
}
.comment.topbar-blue::before {
    background-color: var(--g2);
}

.comment-content .mention {
    color: var(--g2);
    font: var(--label);
    font-weight: normal;
}
.comments > .comment-container > .comment-answers {
    margin-left: 25%;
    width: 75%;
}
.comments > .comment-container > .comment-answers .comment::before {
    background-color: var(--g1);
}

.comment-answers {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.comment-infos,
.comment-dates,
.comment-actions,
.comment-action {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    align-items: center;
}
.comment-dates,
.comment-infos {
    gap: 0.5rem 2rem;
}
.comment-infos { 
    flex-flow: row wrap-reverse;
}

.comment-infos {
    justify-content: space-between;
}
.comment-dates {
    color: var(--p3);
}

.comment-actions {
    user-select: none;
    padding-top: 2rem;
    justify-content: flex-end;
}
.comment-action {
    gap: 1rem;
    cursor: pointer;
    user-select: none;
}
.comment-action:hover {
    color: var(--i);
}

.c-icon {
    height: 3.5rem;
    width: 4rem;
    transition: transform .15s;
}
.c-icon img{
    margin-left: auto;
    display: block;
    max-height: 100%;
    width: auto;
}


.comment-action:hover .c-icon {
    transform: scale(1.3) rotate(-10deg);
}
.comment-action:active .c-icon {
    transform: scale(1.15) rotate(-10deg);
}
/* .comment-action-like-btn.liked:not(.hidden) {
    animation: spin 2s;
    animation-timing-function: cubic-bezier(.3,.22,.32,1.02);
}

@keyframes spin {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(1800deg);
    }
} */

#form-comment,
#login-cta {
    /* margin-left: 8.3%; */
    /* margin-right: 8.3%; */
    margin-bottom: 3rem;
}
#form-comment {
    color: var(--p1);
    display: flex;
    flex-direction: column;
}

.form-comment-textarea {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    color: black;
    resize: vertical;
}

.form-comment-submit {
    margin-top: 15px;
    margin-left: auto;
    font-weight: bold;
}


/* end Comments */
