
.user-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.user-form .field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-form .field .field-imgContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.user-form .field .field-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.user-form .controls {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.errors {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--rounded-lg);
    background: var(--p1);
}

.error {
    font: var(--p);
    color: var(--g3);
}




/* ----------------- Page Article ----------------- */

.head-bg {
    width: 100%;
    height: 846px;
    background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)) /*url(https://www.francetvinfo.fr/pictures/y7EaVw9xAB21V6QiVl3zmxXz6HQ/752x423/2019/04/12/selor7.png)*/;
    background-size:cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.head-h1 {
    width: 70%;
    margin-top: 136px;
}

.head-h2 {
    width: 70%;
    margin-top: 20px;
}

.head-h4 {
    width: 63%;
    margin-top: 100px;
}

.discover {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg2);
    color: white;
}

.discover-title {
    width: 60%;
}

span.orange {
    color: var(--g4);
}
span.purple {
    color: var(--g6)
}
span.green {
    color: var(--g5)
}
span.bleu {
    color: var(--g2)
}
.p3 {
    color: var(--p3)
}
.yellow {
 color: var(--i)
}

.artist-box {
    width: 100%;
    display: flex;
}

.artist-text {
    width: 50%;
    margin-top: 100px;
}

.artist-title {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.oeuvre-title {
    display: flex;
    width: 80%;
    Margin-top: 100px;
}

.oeuvre-text {
    display: block;
    Margin-top: 30px;
    width: 100%;
    columns: 2 auto;
    gap: 4rem;
}

.expo{
    display: flex;
    width: 100%;
    height: 360px;
    align-items: center;
    margin-top: 60px;
}

.expo-title{
    width: 40%;
}

.expo-text{
    width: 60%;
}

.conclusion {
    margin-top: 60px;
    columns: 2;
    gap: 4rem;
}

.articles-end {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.likes {
    width: 40%;
    display: flex;
    text-align: end;
}

.likes > svg {
    margin-left: 10px;
    margin-top: -5px;
}



.box-btn {
    display: flex;
    justify-content: flex-end;
}

.btn-comments {
    width: 230px;
    margin-right: 8.7%;
    margin-top: 20px;
    height: 60px;
    border-radius: 15px;
    background-color: var(--i);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg1)
}


/* ----------------- Page Home ----------------- */

.home-title {
    display: flex;
    justify-content: center;
}

.primary {
    margin-top: 120px;
    margin-bottom: 40px;
}

.secondary {
    margin-bottom: 160px;
}

.home-box{
    width: 100%;
    height: 290px;
    display: flex;
    margin-bottom: 160px;
}

.home-box-img {
    width: 40%;
    border: 5px solid white;
    height: 100%;
    border-radius: 15px;
}

.home-box-img > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.home-box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin-left: 10px;
    padding: 20px;
}

.home-box-text-p {
    height: 52%;
    max-width: 100%;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.home-box-text-btn-h4 {
    height: 46px;
    background-color: var(--i);
    width: 22%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.page-change {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px;
}


/* ----------------------------------- FIN MAIN -----------------------------------*/


/* BB code */
.bb-element-bold {
    font-weight: bold;
}
/* end BB code */


/* Comments */

.comments-container {
    margin-left: 8.3%;
    margin-right: 8.3%;
    margin-top: 100px;
}
.comments {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.comment {
    --topbar-height: 1.5rem;
    position: relative;
    display: flex;  
    flex-direction: column;
    width: 100%;
    background-color: var(--bg2);
    border-radius: 15px;
    padding: calc(1rem + var(--topbar-height) ) 2rem 1.5rem 2rem;
    overflow: hidden;
}
.comment-answers {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 25%;
}

.comment::before {
    top: 0;
    left: 0;
    position: absolute;
    content: ' ';
    display: block;
    height: var(--topbar-height);
    width: 100%;
    background-color: var(--g2);
}
.comment.topbar-blue::before {
    background-color: var(--g2);
}

.comment-answers {
    margin-top: 2rem;
}
.comment-answers .comment::before {
    background-color: var(--g1);
}

.comment-infos,
.comment-dates,
.comment-actions,
.comment-action {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    align-items: center;
}
.comment-infos {
    justify-content: space-between;
}
.comment-dates {
    color: var(--p3);
}

.comment-actions {
    padding-top: 2rem;
    justify-content: flex-end;
}
.comment-action {
    gap: 0.7rem;
    cursor: pointer;
    user-select: none;
}
.comment-action:hover {
    color: var(--i);
}

.comment-action img {
    height: 3rem;
    transition: transform .15s;
}
.comment-action:hover img {
    transform: scale(1.3) rotate(-10deg);
}
.comment-action:active img {
    transform: scale(1.15) rotate(-10deg);
}

/* .comment-action-like {
    filter: grayscale(1);
}
.comment-action-like:hover {
    filter: grayscale(0.5);
}
.comment-action-like.liked {
    filter: none;
} */


#form-comment,
#login-cta {
    /* margin-left: 8.3%; */
    /* margin-right: 8.3%; */
    margin-bottom: 3rem;
}
#form-comment {
    color: var(--p1);
    display: flex;
    flex-direction: column;
}

.form-comment-textarea {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    color: black;
    resize: vertical;
}

.form-comment-submit {
    margin-top: 15px;
    margin-left: auto;
    font-weight: bold;
}


/* end Comments */
