/* -----------------------------------GENERAL-----------------------------------*/
body {
    background-color: var(--bg1);
    color: var(--p1);
    position: relative;
    width: 100%;
    /* font: var(--p); */
}

main {
    position: relative;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* overflow: hidden; */
}


/* ---- Header----*/

.interactive-lien-text{
    color: var(--i);
    text-decoration: none;
    list-style: none;
    font: var(--p);
    position: relative;
    display: inline-block;
}
.interactive-lien-text::after {
    position: absolute;
    content: ' ';
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--i);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.interactive-lien-text:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}



.logo {

    width: 100px;
    /* height: 80px; */
}
.logo-large {
    width: 150px;
    /* height: 80px; */
}



/* reset all default styles  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--color);
    outline: 0px solid transparent;
}

*:focus {
    outline: 3px solid var(--gFocus);
}


input, select, textarea, .input {
    padding: 0.9rem 1rem;
    border-radius: var(--rounded-lg);
    border: 2px solid var(--p1);
    font: var(--p);
}
img.input {
    padding: 0;
    cursor: pointer;
}
textarea {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100%;
}
select option {
    color: var(--bg1);
}
input[type="submit" i], input[type="button" i],
input[type="submit"], input[type="button"] {
    border: none;
    cursor: pointer;
}
input:focus,
textarea:focus,
select:focus,
.input:focus {
    border: 2px solid var(--gFocus);
}
input[type^="date"] {
     --background: var(--bg3); 
}
input[type^="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(100%);
}

textarea[disabled], select[disabled], input[disabled], .input[disabled] {
    --background: var(--bg3);
    --color: var(--p3);
    border-color: transparent;
}

.btn {
    --color: var(--bg1);
    --background: var(--i);
    text-decoration: none;
    font: var(--p);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: transform .2s, outline .2s;
}

.btn:hover {
    outline: 3px solid var(--i);
}
.btn:active {
    transform: scale(0.90);
}
.btn.btn-lg {
    padding: 0.9rem 1rem;
    border-radius: var(--rounded-lg);
}
.btn.btn-md {
    padding: 0.6rem 0.7rem;
    border-radius: var(--rounded-md);
}
.btn.btn-text {
    --background: transparent;
    --color: var(--p1);
}
.btn.btn-secondary {
    --background: var(--bg2);
    --color: var(--p1);
}
.btn.btn-danger {
    --background: var(--g3);
    --color: var(--p1);
}

.box-etat{
    display: inline;
}

main, .container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 1rem;
    box-sizing: border-box;
}
.container-fluid {
    margin: 0;
    max-width: 100%;
    padding: 0;
}

h1, h2, h3, h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, .font-h1 {
    font: var(--h1);
    color: var(--p1);
}
h2, .font-h2 {
    font: var(--h2);
}
h3, .font-h3 {
    font: var(--h3);
}
h4, .font-h4 {
    font: var(--h4);
}
p, .font-p {
    font: var(--p);
}

label, .font-label {
    font: var(--label);
}
label {
    margin-bottom: 0.5rem;
}

.col, .row { display: flex }
.col {flex-flow: column}
.row {flex-flow: row wrap }

.img-thumbnail {
    box-sizing: border-box;
    width: 13rem;
    border-radius: 0.5rem;
}

.hidden {
    display: none;
}

/* ----------------------------------- FIN GENERAL-----------------------------------*/


/* -----------------------------------HEADER-----------------------------------*/
header{
    position: sticky;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    background-color: var(--bg2);
    padding: 0.7rem;
    justify-content: center;
}

.header-box{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.header-box-liste
, .header-box-liste ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchbar {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
}
.searchbar-icon {
    cursor: pointer;
    width: 2.5rem;
    transition: transform .15s;
}
.searchbar-icon:hover {
    transform: scale(1.3) rotate(-10deg);
}
.searchbar-icon:active {
    transform: scale(1.15) rotate(-10deg);
}
.searchbar-input {
    background-color: var(--bg1);
    padding: 10px 15px;
    margin-right: 20px;
}
.searchbar-input:hover {
    border-color: var(--i);
}

.header-box-liste ul li.joe{
    display: flex;
    align-items: center;
}

.header-box-logo{
    display: flex;  
    align-items: center;
}

/* -------------------------------- FIN HEADER -------------------------------- */



/* -----------------------------------FOOTER-----------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg2);
    padding-top: 50px;
    width: 100%;
    margin-top: 50px;
}

.container.section-logo {
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
}

.container.section-list{
    display: flex;
    width: 100%;
}

.section-list ul li,
.section-list ul li p a {
    text-decoration: none;
}

ul li{
    list-style: none;
    margin: 10px;
}

.container-section-law{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: var(--bg1);
}

.footer-droits{
    display: flex;
    margin: 20px 180px 20px 20px;
}

.footer-box {
    display: flex;
    width: 30%;
    margin-bottom: 20px;
}
/* -----------------------------------FIN FOOTER-----------------------------------*/
/* -----------------------------------CGU-----------------------------------*/

.patate{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* -----------------------------------FIN CGU-----------------------------------*/