body {
    background-color: var(--bg1);
    color: var(--p1);
    /* font: var(--p); */
}
.interactive{
    color: var(--i);
    text-decoration: none;
}

main, .container {
    margin: 0 auto;
    max-width: 1280px;
}

h1, .font-h1 {
    font: var(--h1);
    color: var(--p1);
}
h2, .font-h2 {
    font: var(--h2);
}
h3, .font-h3 {
    font: var(--h3);
}
h4, .font-h4 {
    font: var(--h4);
}
p, .font-p {
    font: var(--p);
}
label, .font-label {
    font: var(--label);
}