body {
    background-color: var(--bg1);
    color: var(--p1);
    /* font: var(--p); */
}
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.interactive{
    color: var(--i);
    text-decoration: none;
}

.logo {
    width: 175px;
    height: 80px;
}

header{
    display: flex;
    flex-direction: row;
    background-color: var(--bg2);
}






footer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg2);
    padding-top: 50px;
}

.container.section-logo {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 1%;
}

.container.section-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
}

.section-list ul li,
.section-list ul li p a {
    padding-bottom: 5%;
    text-decoration: none;
}

ul li{
    list-style: none;;
}

.container.section-law{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 1%;
}







/* reset all default styles  */
* {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--color);
    outline: 0px solid transparent;
}

*:focus {
    outline: 3px solid var(--gFocus);
}


input, select {
    padding: 0.9rem 1rem;
    border-radius: var(--rounded-lg);
    border: 2px solid var(--p1);
    font: var(--p);
}
select option {
    color: var(--bg1);
}
input[type="submit" i], input[type="button" i],
input[type="submit"], input[type="button"] {
    border: none;
    cursor: pointer;
}
input:focus,
select:focus {
    border: 2px solid var(--gFocus);
}
input[disabled] {
    --background: var(--bg3);
    --color: var(--p3);
    border-color: transparent;
}

.btn {
    --color: var(--bg1);
    --background: var(--i);
    text-decoration: none;
    font: var(--p);
    display: inline-block;
    text-align: center;
    transition: transform .2s, outline .2s;
}

.btn:hover {
    outline: 3px solid var(--i);
}
.btn:active {
    transform: scale(0.90);
}
.btn.btn-lg {
    padding: 0.9rem 1rem;
    border-radius: var(--rounded-lg);
}
.btn.btn-md {
    padding: 0.6rem 0.7rem;
    border-radius: var(--rounded-md);
}
.btn.btn-text {
    --background: transparent;
    --color: var(--p1);
}
.btn.btn-secondary {
    --background: var(--bg2);
    --color: var(--p1);
}
.btn.btn-danger {
    --background: var(--g3);
    --color: var(--p1);
}

main, .container {
    margin: 0 auto;
    max-width: 1280px;
}

h1, h2, h3, h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, .font-h1 {
    font: var(--h1);
    color: var(--p1);
}
h2, .font-h2 {
    font: var(--h2);
}
h3, .font-h3 {
    font: var(--h3);
}
h4, .font-h4 {
    font: var(--h4);
}
p, .font-p {
    font: var(--p);
}
label, .font-label {
    font: var(--label);
}
label {
    margin-bottom: 0.5rem;
}